/* .home_page_photo {
    width: 200px;
    height: 200px !important;
} */

.pager .active a {
    background-color: cornflowerblue;
    color: white;
}

.label-black {
    color: black;
  }

  .modal-open {
    padding-right: 0px !important;
}
